
.flx-jst{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.flx-jst-cent a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.gr-d{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.flx-jst-colmn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.flex-jst-start{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.flx-jst-colmn-mini{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
}
.mini-flx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}
.br-btm{
    border-bottom: 2px solid var(--gray-color);
}
.big-img{
    width: 550px;
}
.ft-cont{
    width: fit-content;
}
svg{
    width: 16px;
    height: 16px;
    fill: var(--gray-color);
}
a{
    display: block;
}
.pd-primary{
    padding: 0 10%;
}
.pd-all{
    padding: 2.5rem 9%;
}
.cur-page{
    background: #f1f1f185;
}
.pg span{
    font-weight: 500;
}
.sz-img-tb img{
    width: 60px;
}
table,.coupon{
    padding: 1.3rem;
    background: var(--bg-color2);
}
.m-text{
    color: rgb(86, 86, 86);
    font-size: 14px;
}
.l-text{
    font-weight: 600;
}
.t-text{
    font-size: 14px;
    font-weight: 500;
}
.p-text{
    font-size: 15px;
    font-weight: 500;
    color: gray;
}
.low-gap{
    gap: 0.2rem;
}
.how-much{
    font-weight: 600;
}
.last{
    text-decoration: line-through;
    color: gray;
    font-weight: 500;
    letter-spacing: 1px;
}
.you-save{
    color: var(--primary-color);
    font-weight: 700;
}
.mybtn button{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: navajowhite;
    background: #d5d5d5;
    border-radius: 50%;
    cursor: pointer;
}
.counter-pr{
    color: gray;
    gap: .5rem;
}
.counter-pr svg{
    width: 14px;
    height: 14px;
}
.big-pd-right{
    padding-right: 4rem;
}
.total-price{
    font-weight: 600;
    font-size: 20px;
}
.sv-wish{
    color: var(--primary-color);
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}
.rm-wish{
    color: var(--red-color);
    font-weight: normal;
    text-decoration: underline;
    position: relative;
    top: -6px;
    cursor: pointer;
}
table{
    padding: 1.3rem;
}
tr{
    padding: 1rem;
    border-bottom: 1px solid #e2dcdc;
}
tr:last-child{
    border: none;
}
td{
    padding-right: 1.5rem;
}
td:hover img{
    scale: 1.1;
    cursor: pointer;
}
.cart{
    padding: 2.5rem 7% !important;
    gap: 3rem;
    align-items: start; 
}
.cart .container{
    align-items: start;
}
.coupon {
    flex: 1;
    padding: 0rem;
    border-radius: 7px;
}
.cu-pd{
    padding: 1rem;
}
label{
    font-size: 15px;
    color: #4b4b4b;
    margin-bottom: 0.4rem;
    display: block;
}
.coupon h1{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: start;
    border-bottom: 1px solid rgb(212, 212, 212);
}
.coupon .myinput-cart{
    position: relative;
}
.coupon input{
    height: 40px;
    padding-left: .4rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    outline: none;
    text-transform: none;
    width: 100%;
    font-size: 16px;
}
.coupon form button{
    border: none;
    background: var(--primary-color);
    color: white;
    font-weight: bold;
    height: 40px;
    position: absolute;
    right: 0;
    width: 100px;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    cursor: pointer;
}
.coupon ul li{
    width: 100%;
    color: rgb(67, 67, 67);
}
.coupon ul{
    border-bottom: 1px solid rgb(212, 212, 212);
}
.total-proc{
    padding: 1rem;
}
.total-proc h2{
    font-weight: 600;
}
.total-proc h3{
    color: var(--primary-color);
    font-weight: bold;
}
.btn{
    font-size: 15px !important;
    height: 45px !important;
    background: #ff4747 !important;
}
.rtn{
    border: none;
    height: 45px;
    width: 100%;
    margin-top: 1rem;
    border-radius: 7px;
    justify-content: center !important;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(100, 100, 100);
    cursor: pointer;
}
.rtn svg{
    rotate: -180deg;
}
.rtn:hover{
    box-shadow: 0px 0px 0px 4px #e2dfdf;
}
.counter-pr input{
    border: none;
    background: none;
    width: 32px;
    outline: none;
    padding-left: 9px;
}
.wait-min{
    background-color: #b6effb;
    padding: 1.4rem;
    border: 1px solid #8cdcff;
    position: absolute;
    border-radius: 5px;
    color: #055160;
    align-items: start;
    gap: 0.4rem;
    width: 380px;
    top: 1rem;
    right: 2rem;
}
.btnsuccess{
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.btnclose{
    position: absolute;
    top: 35%;
    right: 1rem;
    cursor: pointer;
}
.btnclose svg{
    width: 30px;
    height: 30px;
    stroke: #737373;
}
.progress{
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 0%;
    height: 4px;
    background: #0c5460;
}
.progress.animate{
    animation: progress 5s ;
}
@keyframes progress{
    0%{
        width: 0%;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 50%;
    }
    75%{
        width: 75%;
    }
    80%{
        width: 80%;
    }
    100%{
        width: 100%;
    }
}
@media (max-width:1291px){
    .cart{
        flex-wrap: wrap;
    }
    .my-table{
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
    }
    .my-table table{
        width: 1000px;
    }
}
@media (max-width:1168px){
    .cart .container table{
        width: 100%;
    }
}
@media (max-width:568px){
    .cart  table{
        width: 1024px;
    }
}