.pd-primary{
    padding: 0 10%;
}
.pd-all{
    padding: 2.5rem 9%;
}
.cur-page{
    background: #f1f1f185;
}

.flx-jst{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.flx-jst-cent a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.gr-d{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.flx-jst-colmn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.flex-jst-start{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.flx-jst-colmn-mini{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
}
.mini-flx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}
.info img{
    width: 370px;
}
.btm-title{
    width: fit-content;
    position: relative;
    font-weight: 600;
    margin-top: 3rem;
}
.btm-title::before{
    content: '';
    width: 80%;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    bottom: -.3rem;
    left: 0;
}
.text{
    align-items: start;
    gap: 0.4rem;
}
.text span:first-child{
    font-weight: bold;
}
.box i{
    padding: 10px;
    background: var(--primary-color);
    border-radius: 10px;
    color: white;
    position: absolute;
    left: -28px;
}
.box{
    width: 100%;
    padding: 1.2rem 1rem;
    background: var(--bg-color2);
    border-radius: 5px;
    position: relative;
}
.info-more{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    row-gap: 1rem;
    margin-top: 2rem;
}
.info{
    text-align: center;
    flex: 1;
}
.my-inputs i{
    position: absolute;
    top: 54%;
    font-size: 18px;
    left: 15px;
}
form i{
    color: #848484;
}
.my-inputs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.my-inputs div{
    position: relative;
}
.my-inputs input,textarea{
    border: none;
    padding: 1.2rem 0rem 1.2rem 3rem;
    background: white;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    text-transform: none;
    width: 100%;
}
form{
    background: var(--bg-color2);
    padding: 2rem;
    border-radius: 7px;
    position: relative;
}
form label{
    color: #515151;
}
form textarea{
    width: 100%;
    margin-top: 2rem;
    resize: vertical;
}
form h1{
    position: absolute;
    font-size: 20px;
    top: -2rem;
    left: 0;
    display: none;
}
.text-area{
    position: relative;
}
.text-area i{
    position: absolute;
    left: 1rem;
    top: 53px;
}
.btn{
    margin: 0 calc(100% - 150px);
    width: 150px !important;
    height: 40px !important;
    font-size: 16px !important;
    margin-top: 1rem !important;
    display: block !important;
}
.contact-us{
    padding: 3rem 8%;
    gap: 2rem;
    align-items: start;
}
.api{
    padding: 7rem;
    font-size: 90px;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}
@media (max-width:1200px){
    .my-inputs {
        grid-template-columns: repeat(1,1fr);
    }
    .info-more {
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:992px){
    .contact-us{
        display: block;
    }
    .my-inputs {
        grid-template-columns: repeat(2,1fr);
    }
    .info-more {
        grid-template-columns: repeat(2,1fr);
        padding-left: 1.2rem;
    }
    .info{
        margin-bottom: 2rem;
    }
}
@media (max-width:768px){
    .contact-us{
        display: block;
    }
    .my-inputs {
        grid-template-columns: repeat(1,1fr);
    }
    .info-more {
        grid-template-columns: repeat(1,1fr);
        padding: 0 1.5rem;
        margin-bottom: 3rem;
    }
    form h1{
        display: block;
    }
}