:root{
    --bg-color:#f9f9f9;
    --primary-color: #0da487;
    --tx-color:#333333;
    --bg-color2: #f7f7f7;
}
*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    background: var(--bg-color);
    padding: 1rem 0;
}
html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
.inv-flx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 0;
}
.inv-flx-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7%;
}
.invoice-ruls{
    background: white;
    box-shadow: 0 0 8px 3px #ececec;
    padding: 1rem;
    width: 40%;
    margin: 0 auto;
}
.sz-img-m{
    width: 150px;
}
.h3-color{
    color: var(--tx-color);
    font-size: 20px;
}
.flx-cl{
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    flex-direction: column;
}
.info div{
    background-color: var(--bg-color);
    padding: 1rem;
    margin-top: 1rem;
    width: 45%;
}
.c1{
    color: rgb(44, 44, 44);
    font-weight: 600;
}
.sp-green{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 14px;
}
.sp-green span{
    color: rgb(144, 144, 144);
    font-weight: 600;
}
.email span{
    text-transform: lowercase !important;
}
th{
    font-weight: 600;
    font-size: 14px;
    padding: 1rem 0.2rem;
    border: 1px solid #e4e4e4;
    border-right: none;

}
th:last-child{
    border: 1px solid #e4e4e4;
}
td,
.tbl-mr td{
    text-align: center;
    padding: 1rem;
    font-size: 14px;
    border: 1px solid rgb(208, 208, 208);
    border-right: none;
    border-top: none;
    color: gray;
    font-weight: 600;
}
.tbl-mr td{
    text-align: center;
    padding: .4rem;
}
td:last-child{
    border-right: 1px solid rgb(208, 208, 208);
}
.tbl-mr td:nth-child(2){
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.tbl-mr td:nth-child(2) span:first-child{
    color: rgb(50, 50, 50);
}
.tbl-mr td:nth-child(2) span{
    font-weight: 700;
    font-size: 13px;
}
td:nth-child(2) span:last-child{
    color: gray;
    font-weight: 700;
    font-size: 11px;
}
.tbl-mr td:last-child{
    border-top: none;
}
table{
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
}
.tbl-mr{
    width: 670px;
}
.tbl-mr tbody tr:nth-child(4){
    background: var(--bg-color2);
}
.tbl-mr tbody tr:nth-child(2){
    background: var(--bg-color2);
}
.tbl-mr th:nth-child(2){
    width: 345px;
    text-align: start;
}
.tabels{
    overflow: hidden;
    overflow-x:visible ;
}
.tbl-mr th{
    background-color: var(--primary-color);
    color: white;
}
.gr-total{
    justify-content: end;
    gap: 1rem;
}
.gr-total span{
    font-weight: bold;
}
.gr-total span:last-child{
    color: var(--primary-color);
}
.sz-foot{
    padding: 0.3rem;
    width: fit-content;
    align-items: center;
}
.sz-foot img{
    width: 90px;
}
.sz-foot span{
    width: fit-content;
    padding-top: 1rem;
    font-weight: 400;
    border-top: 1px solid lightgrey;
    color: rgb(68, 68, 68);
}
.foot-sign{
    align-items: end;
    padding: 0;
}
.exp-pdf,.print{
    cursor: pointer;
}
.exp-pdf{
    color: white;
    font-weight: 700;
    background: var(--primary-color);
    padding: .7rem;
    border: none;
    border-radius: 5px;
}
.print{
    color: white;
    background: rgb(37, 37, 37);
    border: none;
    border-radius: 6px;
    padding: .7rem 1rem;
}
.tbl-mr thead th{
    border: none;
}
.tbl-mr thead{
    border: 1px solid var(--primary-color);
}
@media (max-width:1200px){
    .invoice-ruls{
        width: 80%;
    }
    .tbl-mr{
        width: 100%;
    }
}
@media (max-width:991px){
    .invoice-ruls{
        width: 70%;
    }
    .tbl-mr{
        width: 670px;
    }
}
@media (max-width:768px){
    .invoice-ruls{
        width: 90%;
    }
    .tbl-mr{
        width: 670px;
    }
}