@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/* -- system design -- */
:root {
    /* system design of Fast Kart : */

    --primary-color: #0da487;
    --light-primary-color: #e5f5f2;
    --text-color: #323232;
    --search-color-placehoder: #707981;
    --icon-search-color: #ffa53b;
    --red-color: #ff7272;
    --icon-color: #222;
    --bg-color:#e2e2e2;
    --primary-color: #0da487;
    --tx-color:#939393;
    --bg-color2: #f7f7f7;
    --margin-all: 20%;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: .3s;
    text-transform: capitalize;
}

*::selection {
    color: white;
    background-color: var(--primary-color);
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}