@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/* -- system design -- */
:root {
    /* system design of Fast Kart : */

    --primary-color: #0da487;
    --light-primary-color: #e5f5f2;
    --text-color: #323232;
    --search-color-placehoder: #707981;
    --icon-search-color: #ffa53b;
    --red-color: #ff7272;
    --icon-color: #222;
    --bg-color:#e2e2e2;
    --primary-color: #0da487;
    --tx-color:#939393;
    --bg-color2: #f7f7f7;
    --margin-all: 20%;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: .3s;
    text-transform: capitalize;
}

*::selection {
    color: white;
    background-color: var(--primary-color);
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
.btn{
    border: none;
    width: 100%;
    height: 50px;
    background: var(--red-color);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
}
.btn::before{
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(45deg, #ffffff1a, transparent);
    position: absolute;
    top: 0;
    border-radius: 7px 0 0 7px;
    left: 0;
    transition: .3s;
}
.btn:hover:before{
    height: 0%;
    top: unset;
    left: 0;
    bottom: 0;
}
.btn::after{
    content: '';
    width: 50%;
    height: 0%;
    background: linear-gradient(45deg, transparent, #ffffff1a);
    position: absolute;
    bottom: 0;
    border-radius: 0px 7px 7px 0px;
    right: 0;
    transition: .3s;
}
.btn:hover:after{
    height: 100%;
    bottom: unset;
    right: 0;
    top: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
svg{
    width: 16px ;
    height: 16px;
    fill: var(--gray-color);
}